/* You can add global styles to this file, and also import other style files */

body{
    background:#2E9CE6;
    padding: 3rem;
    font-family: 'Releway', 'Arial';
    color:#fff;
}
ul{
    list-style-type: none;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5rem;
}
a{
    color: #fff;
    text-decoration: none;
}